沖繩旅遊行程規劃助手/定時抓取沖繩旅遊資訊工作流.json
{
  "name": "定時抓沖繩旅遊資訊",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.travel4u.com.tw/group/product/OKA04251208A/print/?has_flight_info=on&has_product_fee=True&has_feature=on&has_daily_info=on",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        -80
      ],
      "id": "9f8f97d5-5ee4-44a4-8ffa-ef431a645602",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 取得前一個節點 (HTTP Request) 輸出的 HTML 資料\nconst htmlContent = $json.data;\n\n// 1. **(加強)** 優先移除所有 <script> 和 <style> 標籤及其內容\nlet allText = htmlContent\n    // 移除 <script>...</script> 區塊\n    .replace(/<script\\b[^>]*>([\\s\\S]*?)<\\/script>/gim, '')\n    // 移除 <style>...</style> 區塊\n    .replace(/<style\\b[^>]*>([\\s\\S]*?)<\\/style>/gim, '');\n\n// 2. 移除所有 HTML 標籤\nallText = allText.replace(/<[^>]*>/g, '');\n\n// 3. **(新增步驟)** 移除或替換 HTML 實體 (如 &nbsp;, &amp; 等)\nallText = allText\n    // 將 &nbsp; 替換成單一空格\n    .replace(/&nbsp;/g, ' ') \n    // 移除所有其他 HTML 實體（例如：&#\\d+; 或 &name;）\n    .replace(/&[a-z0-9]+;/gi, ''); \n    \n\n// 4. 最終文字清理：\n// 移除多餘的換行符、製表符和多個空白\nconst cleanedText = allText\n    .replace(/\\r?\\n|\\r|\\t/g, ' ') // 將換行符和製表符替換為單一空白\n    .replace(/\\s{2,}/g, ' ') // 將兩個或多個空白替換為單一空白\n    .trim(); // 移除首尾空白\n\n// 返回結果\nreturn [\n  {\n    json: {\n      text: cleanedText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -80
      ],
      "id": "0da8633a-22f0-4107-8316-938fbfa661d1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "你的任務是清理並整理我提供的文本，使其能直接用於 RAG 系統。\n\n請執行以下步驟：\n1. 進行輕度清理（移除重複、空白、多餘符號、格式錯誤）。\n2. 保留原意但簡化句子，避免資訊遺漏。\n3. 按語意邏輯排序（由大到小、由主題到細節）。\n4. 最終產出一份「適合 RAG 使用」的乾淨知識片段。\n5. 僅輸出，不要夾帶說明。\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        880,
        -80
      ],
      "id": "922260dc-8cce-4800-9e85-67f55a98af12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "id": "7c097c13-84f0-4d74-8f89-b95cc6a452e8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nh3r0m3ReElKVrEA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1552,
        -80
      ],
      "id": "bf78859a-adc9-4db6-bb5b-444f2a1b46a0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SfNufrHna2wUk04L",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1664,
        192
      ],
      "id": "3cc80c45-6023-4c1c-9573-d69df5342333",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1504,
        192
      ],
      "id": "d43de775-0ac2-4a39-b706-86fea547b47e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "pX4vaqaNzsNTslyC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.item.json.output;\n\n// 1. 移除 Markdown 粗體標記 **\nlet cleanText = inputString.replace(/\\*\\*/g, '');\n\n// 2. 將列表符號 * 替換為 - 或其他標準符號\ncleanText = cleanText.replace(/\\*   /g, '- ');\n\n// 3. 確保換行符號保持純文字格式\n// (n8n 輸出字串時通常能保留換行，此步驟主要為清理格式)\n\nreturn [{ json: { clean_report: cleanText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -80
      ],
      "id": "764c61bc-4c43-466e-b8f5-137f669fd8a0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "clean_report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        -80
      ],
      "id": "dd451a37-75e9-446d-b878-77e9d0a87e11",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -80
      ],
      "id": "f6ec6168-23e1-4c07-bed5-bcb7e34c8518",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=搜尋與沖繩旅遊相關的網頁。搜尋來源可以包括旅行社的官方網站、個人旅遊部落格、旅遊資訊網站、論壇討論串等。並輸出URL",
        "options": {
          "systemMessage": "你的任務是搜尋與沖繩旅遊相關的網頁。搜尋來源可以包括旅行社的官方網站、個人旅遊部落格、旅遊資訊網站、論壇討論串等。\n\n最終輸出：\n\n一個相關且可使用的網址 (URL)。\n\n該網址應提供實用、最新的沖繩旅遊資訊或行程。\n\n請不要提供多個網址，只需要輸出一個。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        -80
      ],
      "id": "5ed1a630-5572-47f5-8682-cd5ccdc51060",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        176
      ],
      "id": "18d2a8bb-2e1c-40d5-a6b1-6068c2c86f7f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nh3r0m3ReElKVrEA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "讓AI自己提供沖繩旅遊相關網址",
        "height": 208,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -144
      ],
      "typeVersion": 1,
      "id": "0662a100-2a0d-4734-8091-141e939c2e87",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "訪問網站 抓取文字",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -144
      ],
      "typeVersion": 1,
      "id": "adefab76-3c4b-451e-a0d5-68215be7a047",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "資料清理",
        "height": 208,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -144
      ],
      "id": "b720f239-5a62-469e-8869-851ddd44c81c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "摘要",
        "height": 208,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -144
      ],
      "id": "1b95c56b-d0c2-4add-9ca0-726007c272dd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "轉json",
        "height": 208,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -144
      ],
      "id": "92f79e51-84d3-4bfb-ad1d-9ae7fd5f8b1a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "轉txt",
        "height": 208,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -144
      ],
      "id": "5b370d9b-b9b7-4c18-92fc-6f37a298a540",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "存入向量資料庫",
        "height": 208,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        -144
      ],
      "id": "e37d6e77-a3a3-4eac-ac17-f3bb8480575d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "每周抓一次",
        "height": 208,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -144
      ],
      "typeVersion": 1,
      "id": "112fbff1-d902-4dc6-9eda-54b83adc65fe",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "950b5447-8fe5-4e29-bb6c-7340b1890541",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ca967fb203e82fb04c6a790b96613026cc274f66ac50c77ca500a6f991cdb70"
  },
  "id": "aGckVtYfMWeoPWRo",
  "tags": []
}